.fruit {
    background-color: lightgreen;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.vegetable {
    background-color: lightyellow;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}